extends layout

block content

	h1
		span.header-rule
		| Consumer Law
		span.header-rule
		
	ul.list_of_services
		li= consumer_law.point1
		li= consumer_law.point2
		li= consumer_law.point3
		li= consumer_law.point4
		li= consumer_law.point5
		li= consumer_law.point6
		li= consumer_law.point7
		li= consumer_law.point8
		li= consumer_law.point9
		li= consumer_law.point10
		