extends layout

block content

	ul.crumbs
		span &#8627;
		li 
			a(href="./") Lake Worth Real Estate & Probate Attorney
		span &nbsp;&gt;&nbsp;
		li.current_crumb Lake Worth Consumer Law

	h1
		span.header-rule 
		span.scales &#9878;
		| &nbsp;Consumer Law&nbsp;
		span.scales &#9878; 
		span.header-rule
		
	ul.list_of_services
		li= consumer_law.point1
		li= consumer_law.point2
		li= consumer_law.point3
		li= consumer_law.point4
		li= consumer_law.point5
		li= consumer_law.point6
		li= consumer_law.point7
		li= consumer_law.point8
		li= consumer_law.point9
		li= consumer_law.point10
		