extends layout

block content

  h1
    span.header-rule
    | Estate Planning / Probate
    span.header-rule
  
  ul.list_of_services
    li= estate_planning_probate.point1
    li= estate_planning_probate.point2
    li= estate_planning_probate.point3
    li= estate_planning_probate.point4
    li= estate_planning_probate.point5
    li= estate_planning_probate.point6
    li= estate_planning_probate.point7
    li= estate_planning_probate.point8
    li= estate_planning_probate.point9