extends layout

block content

  ul.crumbs
    span &#8627;
    li 
      a(href="./") Lake Worth Real Estate & Probate Attorney
    span &nbsp;&gt;&nbsp;
    li.current_crumb Lake Worth Estate Planning &#8260; Probate

  h1
    span.header-rule
    span.scales &#9878;
    | &nbsp;Estate Planning / Probate&nbsp;
    span.scales &#9878; 
    span.header-rule
  
  ul.list_of_services
    li= estate_planning_probate.point1
    li= estate_planning_probate.point2
    li= estate_planning_probate.point3
    li= estate_planning_probate.point4
    li= estate_planning_probate.point5
    li= estate_planning_probate.point6
    li= estate_planning_probate.point7
    li= estate_planning_probate.point8
    li= estate_planning_probate.point9