extends layout

block content

  h1
    span.header-rule
    | Landlord / Tenant
    span.header-rule
    
  ul.list_of_services
    li= landlord_tenant.point1
    li= landlord_tenant.point2
    li= landlord_tenant.point3
    li= landlord_tenant.point4
    li= landlord_tenant.point5
    li= landlord_tenant.point6
    li= landlord_tenant.point7