extends layout

block content

  ul.crumbs
    span &#8627;
    li 
      a(href="./") Lake Worth Real Estate & Probate Attorney
    span &nbsp;&gt;&nbsp;
    li.current_crumb Lake Worth Landlord &#8260; Tenant

  h1
    span.header-rule
    span.scales &#9878;
    | &nbsp;Landlord / Tenant&nbsp;
    span.scales &#9878; 
    span.header-rule
    
  ul.list_of_services
    li= landlord_tenant.point1
    li= landlord_tenant.point2
    li= landlord_tenant.point3
    li= landlord_tenant.point4
    li= landlord_tenant.point5
    li= landlord_tenant.point6
    li= landlord_tenant.point7