extends layout

block content

  h1
    span.header-rule
    | Lake Worth Real Estate
    span.header-rule
    
  ul.list_of_services
    li= real_estate.point1
    li= real_estate.point2
    li= real_estate.point3
    li= real_estate.point4
    li= real_estate.point5
    li= real_estate.point6
    li= real_estate.point7