extends layout

block content

  ul.crumbs
    span &#8627;
    li 
      a(href="./") Lake Worth Real Estate & Probate Attorney
    span &nbsp;&gt;&nbsp;
    li.current_crumb Lake Worth Real Estate

  h1
    span.header-rule
    span.scales &#9878;
    | &nbsp;Lake Worth Real Estate&nbsp;
    span.scales &#9878; 
    span.header-rule
    
  ul.list_of_services
    li= real_estate.point1
    li= real_estate.point2
    li= real_estate.point3
    li= real_estate.point4
    li= real_estate.point5
    li= real_estate.point6
    li= real_estate.point7